* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.table {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form-item {
    width: 80%;
}